body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'Roboto';
    font-style: normal;
    box-sizing: border-box;
}

.container {
    max-width: 1536px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.header {
    display: flex;
    height: 5em;
    box-shadow: 5px 5px 20px 1px black;
}

#logo {
    width: 180px;
    height: 5em;
    position: absolute;
}

.menu-links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: 5em;
    font-size: 1.5rem;
}

.menu-links div {
    height: 100%;
}

.menu-links a {
    display: flex;
    padding-left: 1em;
    padding-right: 1em;
    align-items: center;
    text-decoration: none;
    color: black;
    height: 100%;
    transition: .5s ease;
}

.menu-links a:hover {
    background-color: rgb(240, 80, 70);
    color: white;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 5px 5px 20px 1px black;
}

.footer img {
    width: 320px;
}

.footer p {
    padding-top: 2em;
}

.text-block-1 h1 {
    text-align: center;
    font-size: 43px;
    margin-bottom: 1em;
}

.text-block-2 p {
    font-size: 22px;
    font-weight: 400;
    text-align: center;
}

.form {
    background-color: rgb(70, 70, 70);
    box-shadow: 0 0 20px 7px rgb(70, 70, 70);
    color: white;
    padding: 2em;
    margin-top: 5em;
    margin-bottom: 5em;
    transition: 1s ease;
}

#personal-information {
    display: grid;
    margin-bottom: 2em;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1em;
    grid-row-gap: 1em;
}

.input-style input {
    height: 2em;
    background-color: transparent;
    color: white;
    font-size: 16px;
    border: 1px solid white;
    border-top: none;
    border-left: none;
    border-right: none;
    margin-bottom: 1em;
}

#questions {
    display: grid;
    grid-row-gap: 3em;
    margin-bottom: 2em
}

.submit-button {
    display: flex;
    justify-content: center;
    margin-bottom: 3em;
}

.submit-button button {
    padding: 0.6em 3em 0.6em 3em;
    background-color: rgb(240, 80, 70);
    color: white;
    border: 2px solid black;
    box-shadow: 0 0 20px 2px black;
    cursor: pointer;
    border-radius: 50px;
    font-size: 26px;
}

.submit-button button:hover {
    background-color: rgb(213, 56, 51);
    padding-left: 5em;
    padding-right: 5em;
    transition: 1s ease-out;
}

#header-text {
    margin-top: 1.6em;
}

.menu-button {
    display: none;
    color: black;
    width: 4em;
    border: none;
    background-color: transparent;
}

/* RESPONSIVE

/* 2x extra large screens */
@media (max-width: 1536px) {  
    .container {
		    max-width: 1280px;
	}
}

/* extra large screens */
@media (max-width: 1280px) {  
    .container {
		    max-width: 1024px;
	}
    .menu-links {
        gap: 2.5em;
    }
}

/* large screens */
@media (max-width: 1024px) {  
    .container {
		    max-width: 768px;
	}	
    .menu-links {
        font-size: 1.3rem;
        gap: 1em;
    }
    #logo {
        width: 150px;
    }
}

/* medium screens */
@media (max-width: 768px) {  
	.container {
		    max-width: 640px;
	}	
    .box-container {
        display: flex;
        flex-direction: column;
    }
    .marketing-possibilities {
        flex-direction: column;
        align-items: center;
    }
    .menu-links a {
        display: none;
    }
    .menu-button {
        display: block;
    }
}

/* small screens */
@media (max-width: 640px) {
	.container {
		    max-width: 475px;
	}
}

/* extra small screens */
@media (max-width: 475px) {  
	.container {
		    max-width: 320px;
	}
    .space h3 p{
        padding-left: 2em;
        padding-right: 2em;
    }
    #logo {
        width: 120px;
    }
    #personal-information {
        display: flex;
        flex-direction: column;
    }
    input {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
}

/* @media (max-width: 58.125em) {

    .menu-links {
        margin-right: 0;
    }

    .menu-links a {
        display: none;
    }

    .menu {
        width: 3em;
        height: 1.5em;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 1.7em;
    }
    
    .menu-icon {
        height: 5px;
        background-color: black;
    }

    @media (max-width: 31.875em) {
        .box {
            width: 20em;
        }
    }
} */