body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'Roboto';
    font-style: normal;
    box-sizing: border-box;
}

.header-container {
    display: flex;
    border-bottom: solid 1px;
    box-shadow: 5px 5px 20px 1px black;
}

.header-container img {
    width: 180px;
    height: 80px;  
}

.header-contant {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5em;
    font-size: 1.5rem;
    margin-right: 180px;
}

.header-contant a {
    text-decoration: none;
    color: black;
}

.body-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.call-to-action {
    margin-top: 4em;
}

.button-call-to-action {
    padding: 0.6em 1em 0.6em 1em;
    background-color: rgb(240, 80, 70);
    color: white;
    border: 2px solid black;
    box-shadow: 0 0 20px 2px black;
    cursor: pointer;
    transition: 1s ease;
    border-radius: 50px;
    font-size: 26px;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 36px;    
}

h3 {
    font-size: 30px;
}

p {
    font-size: 24px;
}

.button-call-to-action:hover {
    background-color: rgb(213, 56, 51);
    padding-left: 3.5em;
    padding-right: 3.5em;
    transition: 1s ease-out;
}

#cta-color {
    color: rgb(232, 31, 39);
}

#cta-color-dot {
    color: black;
    display: inline;
}

.footer-container {
    border-bottom: solid 1px;
    box-shadow: 5px 5px 20px 1px black;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.marketing-possibilities {
    display: flex; 
    width: 70vw;
    gap: 2em;
    justify-content: space-between;
}

.space {
    width: 50%;
}

.margketing-possibilities-img {
    width: 80px;
}

.marketing-possibilities h3 {
    font-size: 23px;
}

.marketing-possibilities p {
    font-size: 18px;
}

.footer-container img {
    width: 400px;
}

.text-block-1 {
    margin-top: 8em;
}

.text-block-2 {
    margin-top: 5em;
}

.text-block-3 {
    padding: 1em;
}

.box {
    display: flex;
    flex-direction: column;
    width: 420px;
    height: 350px;
    margin: 0 auto;
    border: 1px solid black;
    padding: 3em;
    border: 1px solid black;
    box-shadow: 0 0 10px 2px black;
    transition: 2s ease;
}

.box:hover {
    box-shadow: 0 0 50px 2px black;
    transition: 1s ease;
}

.box-container {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    margin: 0 auto;
}

.footer-contact-container {
    width: 100vw;
    height: 300px;
    margin-top: 5em;
}