body {
    margin: 0;
    padding: 0;
    width: 100vw;
    font-family: 'Roboto';
    font-style: normal;
    box-sizing: border-box;
}

.header-container {
    display: flex;
    width: 100vw;
    border-bottom: solid 1px;
    box-shadow: 5px 5px 20px 1px black;
}

.header-container img {
    width: 180px;
    height: 80px;  
}

.header-contant {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5em;
    margin-right: 180px;
    font-size: 1.5rem;
}

.header-contant a {
    text-decoration: none;
    color: black;
}

.body-container {
    display: flex;
    width: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.call-to-action {
    margin-top: 4em;
}

.button-call-to-action {
    padding: 0.6em 1em 0.6em 1em;
    background-color: rgb(240, 80, 70);
    color: white;
    border: 2px solid black;
    box-shadow: 0 0 20px 2px black;
    cursor: pointer;
    transition: 1s ease;
    border-radius: 50px;
    font-size: 26px;
}

.button-call-to-action:hover {
    background-color: rgb(213, 56, 51);
    padding-left: 3.5em;
    padding-right: 3.5em;
    transition: 1s ease-out;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 36px;    
}

h3 {
    font-size: 30px;
}

p {
    font-size: 24px;
}


#cta-color {
    color: rgb(232, 31, 39);
}

#cta-color-dot {
    color: black;
    display: inline;
}

.footer-container {
    border-bottom: solid 1px;
    box-shadow: 5px 5px 20px 1px black;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.marketing-possibilities {
    display: flex; 
    width: 70vw;
    gap: 2em;
    margin-bottom: 7em;
    margin: 0 auto;
    justify-content: space-between;
}

.space {
    width: 50%;
}

.margketing-possibilities-img {
    width: 80px;
}

.marketing-possibilities h3 {
    height: 2.2em;
    font-size: 23px;
}

.marketing-possibilities p {
    font-size: 18px;
}

.footer-container img {
    width: 400px;
}

.text-block-1 {
    margin-top: 8em;
    margin-bottom: 8em;
}

.text-block-2 {
    margin-top: 5em;
    margin-bottom: 3em;
    line-height: 0.5;
    text-wrap: wrap;
    width: 80%;
    margin: 0 auto;
    line-height: 1.2;
}

.text-block-3 {
    padding: 1em;
    margin-bottom: 5em;
}

.box {
    display: flex;
    flex-direction: column;
    width: 26.25em;
    height: 21.875em;
    margin: 0 auto;
    border: 1px solid black;
    padding: 3em;
    border: 1px solid black;
    box-shadow: 0 0 10px 2px black;
    transition: 2s ease;
}

.box:hover {
    box-shadow: 0 0 50px 2px black;
    transition: 1s ease;
}

.box-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    margin: 0 auto;
}

.footer-contact-container {
    width: 100vw;
    height: 300px;
    margin-top: 5em;
    margin-bottom: 5em;
} 

.footer-contact-container h1 {
    width: 50%;
    margin: 0 auto;
    text-wrap: wrap;
    margin-bottom: 1em;
    line-height: 1.2;
}

.footer-contact-container button {
    margin-top: 1em;
}

.website-container {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

@media (max-width: 68.75em) {

    .marketing-possibilities {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .space {
        width: 70%;
    }

    .space p {
        width: 80%;
        margin: 0 auto;
        padding-bottom: 1em;
    }

    .box-container {
        display: flex;
        flex-direction: column;
    }

    .header-contant {
        text-align: center;
    }

    .marketing-possibilities h3 {
        height: 1.2em;
    }

    .box {
        padding: 0.8em;
    }

    .footer-contact-container h1 {
        width: 80%;
    }

}

@media (max-width: 58.125em) {

    .header-contant {
        margin-right: 0;
    }

    .header-contant a {
        display: none;
    }

    .menu {
        width: 3em;
        height: 1.5em;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 1.7em;
    }
    
    .menu-icon {
        height: 5px;
        background-color: black;
    }

    @media (max-width: 31.875em) {
        .box {
            width: 20em;
        }
    }
}